---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Febrero 2023 - Marzo 2024',
    title: 'Repartidor de mercadería.',
    company: 'Papelería Salomón.',
    description:
      'Era el encargado de los repartos diarios de la mercadería de la papelería en la camioneta de la empresa.',
  },
  {
    date: 'Octubre 2020 - Marzo 2021',
    title: 'Encargado de canchas y Atención al cliente',
    company: 'El Potrero - Escuelita de Fútbol.',
    description:
      'Mi trabajo implicaba llevar un control del stock de la cantina y atenderla, mantener las canchas de fútbol y atender a los que venían a jugar.',
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
