---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
{
    date: 'Noviembre 2024 - Actualidad',
    title: 'Desarrollador backend y Blockchain',
    company: 'Dazlabs',
    description:'Ingresé como desarrollador Backend y actualmente me desempeño como desarrollador Blockchain creando contratos inteligentes y conexión a proyectos haciendo uso de Viem.',
    link: 'https://www.linkedin.com/company/day-zero-labs/posts/?feedView=all'
  },
  {
    date: 'Octubre 2024 - Actualidad',
    title: 'Desarrollador backend',
    company: 'Programalo AI',
    description:'Me encargo de la refactorización completa del backend, migrándolo de Express a NestJS para mejorar la estructura y optimizar el rendimiento. Como equipo, estamos realizando una migración total de la página web, pasando el frontend de PHP a Next.js y la base de datos de MongoDB a PostgreSQL.',
    link: 'https://programalo.ai/'
  },
  {
    date: 'Febrero 2021 - Marzo 2024',
    title: 'Repartidor de mercadería.',
    company: 'Papelería Salomón.',
    description:
      'Jornada completa: Era el encargado de estructurar la ruta más óptima para los repartos diarios de la mercadería de la papelería y los realizaba en la camioneta de la empresa.',
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
